<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>500</h1>
        </div>
        <h2>Error interno</h2>
        <p>Ocurrio un error procesando su solicitud. Por favor, ingrese nuevamente en unos minutos</p>
        <button class="btn btn-warning" routerLink="/login"> Login</button>
        <div class="text-center">
            <img src="../../../assets/images/LogoAnclaflexLogin.png" width="240px" heigth="120px" alt="Home" />
        </div>
    </div>

</div>