<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">

    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" [formGroup]="loginForm" (ngSubmit)="inicioLogin()">
                <a href="javascript:void(0)" class="text-center db"><img src="./assets/images/LogoAnclaflexLogin.png" width="240px" heigth="120px" alt="Home" /><br/></a>
                <div class="form-group m-t-40">
                    <div [ngClass]="{'col-xs-12':true,'form-group':true, 'error': campoNoValido(loginForm,'id', loginFormSubmitted)}">
                        <input formControlName="id" class="form-control" type="text" required="" placeholder="Usuario">
                        <div *ngIf="campoNoValido(loginForm,'id', loginFormSubmitted)" class="help-block">
                            <ul role="alert">
                                <li>El campo usuario es obligatorio</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div [ngClass]="{'col-xs-12':true,'form-group':true, 'error': campoNoValido(loginForm,'password', loginFormSubmitted)}">

                    <input formControlName="password" class="form-control" type="password" required="" placeholder="Contraseña">
                    <div *ngIf="campoNoValido(loginForm,'password', loginFormSubmitted)" class="help-block">
                        <ul role="alert">
                            <li>El campo contraseña es obligatorio</li>
                        </ul>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary pull-left p-t-0">
                            <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
                            <label for="checkbox-signup"> Recordarme </label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-secondary btn-lg btn-block text-uppercase btn-rounded" type="submit">Log In</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->