<div class="table-responsive">

    <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list footable-loaded footable" data-page-size="10">
        <thead>
            <tr>
                <th class="footable-sortable">ID #<span class="footable-sort-indicator"></span></th>
                <th class="footable-sortable">Fecha<span class="footable-sort-indicator"></span></th>
                <th class="footable-sortable">Importe<span class="footable-sort-indicator"></span></th>
                <th class="footable-sortable">Direccion Entrega<span class="footable-sort-indicator"></span></th>
                <th class="footable-sortable">Importe<span class="footable-sort-indicator"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr class="footable-even" style="">
                <td><span class="footable-toggle"></span>1011</td>
                <td>
                    <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user" class="img-circle"> Genelia Deshmukh</a>
                </td>
                <td>genelia@gmail.com</td>
                <td>How to customize the template?</td>
                <td><span class="label label-warning">New</span> </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <div class="text-right">
                        <ul class="pagination">
                            <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li>
                            <li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li>
                            <li class="footable-page active"><a data-page="0" href="#">1</a></li>
                            <li class="footable-page"><a data-page="1" href="#">2</a></li>
                            <li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li>
                            <li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>