<!-- Validation wizard -->
<div class="row" id="validation">
    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <h4 class="card-title">Step wizard with validation</h4>
                <h6 class="card-subtitle">You can us the validation like what we did</h6>
                <form class="validation-wizard wizard-circle wizard clearfix" role="application" id="steps-uid-2" novalidate="novalidate">
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <!--<li role="tab" class="done" aria-disabled="false" aria-selected="true">-->
                            <li role="tab" [ngClass]="{'first':true, 'current':currentStep == 1,'done': currentStep > 1, 'disabled': currentStep < 1}" aria-disabled="false" aria-selected="true">
                                <a id="steps-uid-2-t-0" href="#steps-uid-2-h-0" aria-controls="steps-uid-2-p-0">
                                    <span class="current-info audible">current step: </span>
                                    <span class="step">1</span> Productos
                                </a>
                            </li>
                            <li role="tab" [ngClass]="{'current':currentStep == 2,'done': currentStep > 2, 'disabled': currentStep < 2}" aria-disabled="false" aria-selected="false">
                                <a id="steps-uid-2-t-1" href="#steps-uid-2-h-1" aria-controls="steps-uid-2-p-1">
                                    <span class="step">2</span> Datos de entrega
                                </a>
                            </li>
                            <li role="tab" [ngClass]="{'current':currentStep == 3,'done': currentStep > 3, 'disabled': currentStep < 3}" aria-disabled=" true ">
                                <a id="steps-uid-2-t-2 " href="#steps-uid-2-h-2 " aria-controls="steps-uid-2-p-2 ">
                                    <span class="step ">3</span> Datos de facturación
                                </a>
                            </li>
                            <li role="tab " [ngClass]="{ 'last':true, 'current':currentStep==4 , 'done': currentStep> 4, 'disabled': currentStep < 4}" aria-disabled="true">
                                <a id="steps-uid-2-t-3" href="#steps-uid-2-h-3" aria-controls="steps-uid-2-p-3">
                                    <span class="step">4</span> Pedido confirmado
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content clearfix">
                        <!-- Step 1 -->
                        <h6 id="steps-uid-2-h-0" tabindex="-1" class="title current">Step 1</h6>
                        <form [formGroup]="step1form" [hidden]="currentStep!=1" id="steps-uid-2-p-0" role="tabpanel" aria-labelledby="steps-uid-2-h-0" class="body current">
                            <div class="row">
                                <div class="table-responsive">
                                    <table id="demo-foo-addrow" class="table m-t-30 table-hover">
                                        <thead>
                                            <tr>
                                                <th class="w-50">Codigo de producto</th>
                                                <th class="w-10">Cantidad</th>
                                                <th class="w-10">Precio</th>
                                                <th class="w-10">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="items">
                                            <tr *ngFor="let item of getItems().controls; let itemActual=index" class="footable-even">
                                                <ng-container [formGroupName]="itemActual">
                                                    <td [ngClass]="{'w-50':true,'form-group':true, 'error': campoNoValido(item,'producto', step1FormSubmitted)}">
                                                        <app-typehead (valorSeleccionado)="muestroDatosProducto($event, itemActual)" placeholder='Producto' [resource]='"producto"' [parentForm]="item" campoFormulario='producto'></app-typehead>
                                                        <div *ngIf="campoNoValido(item,'producto', step1FormSubmitted)" style="margin-left: 15px;" class="help-block">
                                                            <ul role="alert">
                                                                <li>El campo producto es obligatorio y debe tener un valor válido</li>
                                                            </ul>
                                                        </div>

                                                    </td>
                                                    <td [ngClass]="{'w-50':true,'form-group':true, 'error': campoNoValido(item,'cantidad', step1FormSubmitted)}">
                                                        <input type="number" class="form-control" placeholder="Cantidad" autocomplete="off" spellcheck="false" dir="auto" name="cantidad" formControlName="cantidad">
                                                        <div *ngIf="campoNoValido(item,'cantidad', step1FormSubmitted)" class="help-block">
                                                            <ul role="alert">
                                                                <li>El campo cantidad es obligatorio </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>${{item.get('precio').value | number:'1.2'}}</td>
                                                    <td>${{item.get('total').value | number:'1.2'}}</td>

                                                    <td>
                                                        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete" (click)="borraItem(itemActual)"><i class="ti-close" aria-hidden="true"></i></button>
                                                    </td>
                                                </ng-container>


                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="col-sm-1">
                                                    <button type="button" (click)="agregaProducto()" class="btn btn-danger btn-rounded">Agregar producto</button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <div *ngIf="step1form.get('items').errors && step1FormSubmitted" class="text-center alert alert-danger alert-rounded">Debe elegir algún producto para avanzar con el pedido</div>
                                    <div class="col-md-12">
                                        <div class="pull-right m-t-10 text-right">
                                            <hr>
                                            <h3><b>Total sin impuestos :</b> ${{ total | number:'1.2' }}</h3>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Step 2 -->
                        <h6 id="steps-uid-2-h-1" tabindex="-1" class="title">Step 2</h6>
                        <form [hidden]="currentStep!=2" id="steps-uid-2-p-1" role="tabpanel" aria-labelledby="steps-uid-2-h-1" class="body" aria-hidden="true" [formGroup]="step2form">

                            <div [ngClass]="{'row':true,'form-group':true, 'error': campoNoValido(step2form,'numeroCliente', step2FormSubmitted)}">
                                <label for="Cliente" class="col-2 col-form-label">Cliente</label>
                                <div class="col-10">
                                    <app-typehead #cliente (valorSeleccionado)="muestroDatosCliente($event)" [resource]='"cliente"' [parentForm]="step2form" campoFormulario='numeroCliente' placeholder='Cliente'>
                                    </app-typehead>
                                    <div *ngIf="campoNoValido(step2form,'numeroCliente', step2FormSubmitted)" style="margin-left: 15px;" class="help-block">
                                        <ul role="alert">
                                            <li>El campo cliente es obligatorio y debe tener un valor válido </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div [ngClass]="{'row':true,'form-group':true, 'error': campoNoValido(step2form,'codigoEntrega', step2FormSubmitted)}">
                                <label for="Cliente" class="col-2 col-form-label">Codigo de entrega</label>
                                <div class="col-10">
                                    <app-typehead (valorSeleccionado)="muestroDatosEntrega($event)" [resource]='"clientedireccionesentrega"' [parentForm]="step2form" campoFormulario='codigoEntrega' [keyParameterValue]="step2form.get('numeroCliente').value" placeholder='Dirección de Entrega'>
                                    </app-typehead>
                                    <div *ngIf="campoNoValido(step2form,'codigoEntrega', step2FormSubmitted)" style="margin-left: 15px;" class="help-block">
                                        <ul role="alert">
                                            <li>El campo código de entrega debe tener un valor válido </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div [ngClass]="{'row':true,'form-group':true, 'error': campoNoValido(step2form,'direccionEntrega', step2FormSubmitted)}">
                                <label for="example-search-input" class="col-2 col-form-label">Direccion Entrega</label>
                                <div class="col-10">
                                    <input class="form-control" type="text" name="DireccionEntrega" formControlName="direccionEntrega">
                                    <div *ngIf="campoNoValido(step2form,'direccionEntrega', step2FormSubmitted)" style="margin-left: 15px;" class="help-block">
                                        <ul role="alert">
                                            <li>El campo dirección de entrega es obligatorio </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{'row':true,'form-group':true, 'error': campoNoValido(step2form,'codigoPostalEntrega', step2FormSubmitted)}">
                                <label for="example-search-input" class="col-2 col-form-label">Codigo Postal Entrega</label>
                                <div class="col-10">
                                    <input class="form-control" type="text" name="codigoPostalEntrega" formControlName="codigoPostalEntrega">
                                    <div *ngIf="campoNoValido(step2form,'codigoPostalEntrega', step2FormSubmitted)" style="margin-left: 15px;" class="help-block">
                                        <ul role="alert">
                                            <li>El campo código postal de entrega es obligatorio </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{'row':true,'form-group':true, 'error': campoNoValido(step2form,'provinciaEntrega', step2FormSubmitted)}">
                                <label for="example-search-input" class="col-2 col-form-label">Provincia Entrega</label>
                                <div class="col-10">
                                    <app-typehead #provinciaEntrega [resource]='"provincia"' [parentForm]="step2form" campoFormulario='provinciaEntrega' placeholder='Provincia de Entrega'>
                                    </app-typehead>
                                    <div *ngIf="campoNoValido(step2form,'provinciaEntrega', step2FormSubmitted)" style="margin-left: 15px;" class="help-block">
                                        <ul role="alert">
                                            <li>El campo provincia de entrega es obligatorio y debe tener un valor válido </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <app-typehead style="display: none;" #provinciaFacturacion [resource]='"provincia"' [parentForm]="step2form" campoFormulario='provinciaFacturacion' placeholder='Provincia de Facturacion'> </app-typehead>

                        </form>
                        <!-- Step 3 -->
                        <h6 id="steps-uid-2-h-2" tabindex="-1" class="title">Step 3</h6>
                        <section [hidden]="currentStep!=3" id="steps-uid-2-p-2" role="tabpanel" aria-labelledby="steps-uid-2-h-2" class="body" aria-hidden="true">
                            <br>
                            <div class="card card-body printableArea">
                                <h3><b>PEDIDO</b> <span class="pull-right">Número a confirmar</span></h3>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-left">
                                            <address>
                                                <h3> &nbsp;<b class="text-danger">{{step2form.get('numeroCliente_descripcion').value}}</b></h3>
                                                <p class="text-muted m-l-5">CUIT: {{step2form.get('numeroDocumento').value}}
                                                    <br> {{step2form.get('direccionFacturacion').value}} - ({{step2form.get('codigoPostalFacturacion').value}}),
                                                    <br> {{step2form.get('provinciaFacturacion_descripcion').value}}
                                                </p>
                                            </address>
                                        </div>
                                        <div class="pull-right text-right">
                                            <address>
                                                <h3>Dirección de entrega: </h3>
                                                <h4 class="font-bold">{{step2form.get('codigoEntrega_descripcion').value}}</h4>
                                                <p class="text-muted m-l-30"> {{step2form.get('direccionEntrega').value}} - ({{step2form.get('codigoPostalEntrega').value}}),
                                                    <br> {{step2form.get('provinciaEntrega_descripcion').value}}
                                                <p class="m-t-30"><b>Fecha del pedido:</b> <i class="fa fa-calendar"></i> {{step2form.get('fecha').value}}</p>
                                            </address>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="table-responsive m-t-40" style="clear: both;">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th>Producto</th>
                                                        <th class="text-right">Cantidad</th>
                                                        <th class="text-right">Precio</th>
                                                        <th class="text-right">Bonif.</th>
                                                        <th class="text-right">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let itemPedido of getItems().controls; let id=index">
                                                        <td class="text-center">{{id+1}}</td>
                                                        <td>{{itemPedido.get('descripcion').value}}</td>
                                                        <td class="text-right">{{itemPedido.get('cantidad').value}} </td>
                                                        <td class="text-right"> ${{itemPedido.get('precio').value | number:'1.2'}} </td>
                                                        <td class="text-right"> {{itemPedido.get('bonificacion').value | number:'1.2'}}% </td>
                                                        <td class="text-right"> ${{itemPedido.get('total').value | number:'1.2'}} </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="pull-right m-t-30 text-right">
                                            <hr>
                                            <h3><b>Total sin impuestos :</b> ${{total | number:'1.2'}}</h3>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Step 4 -->
                        <h6 id="steps-uid-2-h-3" tabindex="-1" class="title">Step 4</h6>
                        <section [hidden]="currentStep!=4" id="steps-uid-2-p-3" role="tabpanel" aria-labelledby="steps-uid-2-h-3" class="body" aria-hidden="true">
                            <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -178px;">
                                <div class="sa-icon sa-error" style="display: none;">
                                    <span class="sa-x-mark">
                                  <span class="sa-line sa-left"></span>
                                    <span class="sa-line sa-right"></span>
                                    </span>
                                </div>
                                <div class="sa-icon sa-warning" style="display: none;">
                                    <span class="sa-body"></span>
                                    <span class="sa-dot"></span>
                                </div>
                                <div class="sa-icon sa-info" style="display: none;"></div>
                                <div class="sa-icon sa-success animate" style="display: block;">
                                    <span class="sa-line sa-tip animateSuccessTip"></span>
                                    <span class="sa-line sa-long animateSuccessLong"></span>

                                    <div class="sa-placeholder"></div>
                                    <div class="sa-fix"></div>
                                </div>
                                <div class="sa-icon sa-custom" style="display: none;"></div>
                                <h2>Pedido creado</h2>
                                <p style="display: block;">Pedido generado con éxito</p>
                                <fieldset>
                                    <input type="text" tabindex="3" placeholder="">
                                    <div class="sa-input-error"></div>
                                </fieldset>
                                <div class="sa-error-container">
                                    <div class="icon">!</div>
                                    <p>Not valid!</p>
                                </div>
                                <div class="sa-button-container">
                                    <button class="cancel" tabindex="2" style="display: none; box-shadow: none;">Cancel</button>
                                    <div class="sa-confirm-button-container">
                                        <button class="confirm" tabindex="1" style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">OK</button>
                                        <div class="la-ball-fall">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="actions clearfix mt-3">
                        <ul role="menu" aria-label="Pagination">
                            <li class="disabled" aria-disabled="true">
                                <button *ngIf="currentStep != 1 && currentStep < 4" (click)="siguientePaso(-1)" class="btn btn-warning" type="submit" role="menuitem">
                                    Anterior
                                </button>
                            </li>
                            <li *ngIf="currentStep < 3" aria-hidden="false" aria-disabled="false">
                                <button (click)="siguientePaso(+1)" class="btn btn-warning" type="button" role="menuitem">
                                    Siguiente
                                </button>
                            </li>
                            <li *ngIf="currentStep == 3" aria-hidden="true">
                                <button (click)="graboPedido()" class="btn btn-danger" type="submit" role="menuitem">
                                <i class = "fa fa-check"></i>Confirmar Pedido
                                </button>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>