<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" style="background-image:url(../assets/images/background/sidebar.jpg);">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav" style="background:none">
            <ul id="sidebarnav">
                <li class="nav-small-cap">MENU</li>
                <li *ngFor="let item of menuItems" class="active">

                    <a [ngClass]="{'has-arrow':item.submenu.length>0,'waves-effect':true,'waves-dark':true}" (click)="navigate(item.url, item.newWindow)" aria-expanded="false">
                        <i [className]=item.icono> </i>
                        <span class="hide-menu">{{item.titulo}} <span *ngIf="item.submenu.length != 0" class="label label-rouded label-themecolor pull-right">
                            {{item.submenu.length}}
                        </span></span>
                    </a>
                    <ul *ngFor="let itemSubmenu of item.submenu" aria-expanded="false" class="collapse">
                        <li><a [routerLink]="itemSubmenu.url" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{itemSubmenu.titulo}}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->