<div class="row">
    <div [ngClass]="{'form-group':true, 'col-md-8':true, 
    'error': campoNoValido(parametrosCuentaCorriente,'cliente'),
    'hidden': decodeTokenFromStorage().cliente != ''}">

        <app-typehead #cliente [resource]='"cliente"' [parentForm]="parametrosCuentaCorriente" campoFormulario='cliente' [keyParameterValue]="idVendedor" placeholder='Cliente'>
        </app-typehead>
        <div *ngIf="campoNoValido(parametrosCuentaCorriente,'cliente')" style="margin-left: 15px;" class="help-block">
            <ul role="alert">
                <li>El campo debe tener un valor válido </li>
            </ul>
        </div>

    </div>
    <div class="col-md-4">

        <mat-form-field appearance="fill">
            <mat-label>Fecha de movimiento</mat-label>
            <mat-date-range-input [formGroup]="fechaMovimientoRange" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Desde">
                <input matEndDate formControlName="end" placeholder="Hasta">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="fechaMovimientoRange.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="fechaMovimientoRange.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>
    </div>

</div>
<div class="row">

</div>
<div class="row mt-2">
    <div class="col-md-12">
        <form [formGroup]="parametrosCuentaCorriente">
            <div class="checkbox checkbox-primary">
                <input formControlName="soloPendientes" id="soloPendientes" type="checkbox" class="filled-in chk-col-light-blue">
                <label for="soloPendientes" style="margin-right: 3px;"> Solo comprobantes pendientes de pago</label>
            </div>
        </form>
    </div>
</div>
<div class="text-center mt-2" *ngIf="cargandoNuevaBusqueda">
    <i class="fa fa-spin fa-spinner"></i>
</div>
<app-table-filtered #tableFiltered *ngIf="!cargandoNuevaBusqueda" [displayedColumnsTitles]="calculaCamposTabla('titulos')" [displayedColumns]="calculaCamposTabla('columnas')" [displayedTotalColumns]="calculaCamposTabla('totales')" [data]="this.data" (getFile)="getFile($event)">
</app-table-filtered>