<div class="row">

    <mat-form-field class="col-md-9">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>


</div>

<div class="scroll">
    <table mat-table [dataSource]="dataSource">

        <ng-container *ngFor="let column of displayedColumns;; let columnaActual=index" matColumnDef="{{column}}">
            <th mat-header-cell *matHeaderCellDef> {{getColumnName(displayedColumnsTitles[columnaActual])}} </th>
            <td mat-cell *matCellDef="let element">
                <div [ngClass]="{'label':displayedColumnsTitles[columnaActual]=='Estado', 
                                 'label-table': displayedColumnsTitles[columnaActual]=='Estado', 
                                 'label-success': displayedColumnsTitles[columnaActual]=='Estado'&& element[column] == 'FACTURADO',
                                 'label-warning': displayedColumnsTitles[columnaActual]=='Estado'&& element[column] == 'PENDIENTE' }">
                    {{element[column] | tableFiltered:getColumnName(displayedColumnsTitles[columnaActual])}}
                    <a *ngIf="displayedColumnsTitles[columnaActual]=='lupa'" href="javascript:void(0)" (click)="verDetalle(element.id)" data-toggle="tooltip" data-placement="bottom" data-original-title="Tooltip on bottom" title="Ver detalle del pedido"><i class="mdi mdi-magnify"> </i></a>
                    <a *ngIf="displayedColumnsTitles[columnaActual]=='pdffile'" [attr.href]="'http://191.102.18.36:22771/api/cuentacorriente/file/' + element.pdfPath" target="_blank" data-toggle="tooltip" data-placement="bottom" data-original-title="Tooltip on bottom" title="Ver PDF asociado"><i class="mdi mdi-file-pdf"> </i></a>
                    <a *ngIf="displayedColumnsTitles[columnaActual]=='pdffile'" [attr.href]="'http://gilera.netcontent.com.ar:8080/#/login/es'" target="_blank" data-toggle="tooltip" data-placement="bottom" data-original-title="Tooltip on bottom" title="Ver PDF asociado"><i class="mdi mdi-file-pdf"> </i></a>
                    <a *ngIf="displayedColumnsTitles[columnaActual]=='pdffile'" [attr.href]="'https://www.google.com.ar/'" target="_blank" data-toggle="tooltip" data-placement="bottom" data-original-title="Tooltip on bottom" title="Ver PDF asociado"><i class="mdi mdi-file-pdf"> </i></a>
                </div>
            </td>


            <td mat-footer-cell *matFooterCellDef>
                {{calculoCamposFooter(displayedColumnsTitles[columnaActual]) | tableFiltered:displayedColumnsTitles[columnaActual] }}
            </td>


        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
</div>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" (page)="handlePage($event)">
</mat-paginator>