<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form [formGroup]="changePasswordForm" class="form-horizontal form-material" id="loginform" action="index.html">
                    <h3 class="box-title m-b-20 text-center">Modificar Contraseña</h3>
                    <h5 class="box-title m-b-20 text-center">Por favor, complete el formulario para regenerar su contraseña</h5>
                    <div [ngClass]="{'form-group':true, 'error': campoNoValido(changePasswordForm.get('password'))}">
                        <div class="col-xs-12">
                            <input formControlName="password" class="form-control" type="password" required="" placeholder="Contraseña actual">
                        </div>
                        <div *ngIf="campoNoValido(changePasswordForm.get('password'))" class="help-block">
                            <ul role="alert">
                                <li>El campo es obligatorio</li>
                            </ul>
                        </div>
                    </div>
                    <div [ngClass]="{'form-group':true, 'error': campoNoValido(changePasswordForm.get('NewPassword'))}">
                        <div class="col-xs-12">
                            <input formControlName="NewPassword" class="form-control" type="password" required="" placeholder="Nueva contraseña">
                        </div>
                        <div *ngIf="campoNoValido(changePasswordForm.get('NewPassword'))" class="help-block">
                            <ul role="alert">
                                <li>El campo es obligatorio</li>
                            </ul>
                        </div>
                    </div>
                    <div [ngClass]="{'form-group':true, 'error': campoNoValido(changePasswordForm.get('NewPassword2'))}">
                        <div class="col-xs-12">
                            <input formControlName="NewPassword2" class="form-control" type="password" required="" placeholder="Repetir nueva contraseña">
                        </div>
                        <div *ngIf="campoNoValido(changePasswordForm.get('NewPassword2'))" class="help-block">
                            <ul role="alert">
                                <li *ngIf="changePasswordForm.get('NewPassword2').errors.passwordsDistintas">
                                    Las contraseñas no coinciden
                                </li>
                                <li *ngIf="changePasswordForm.get('NewPassword2').errors.required">El campo es obligatorio</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group text-center p-b-10">
                        <div class="col-xs-12">
                            <button (click)="modificarPassword()" class="btn btn-danger btn-block m-b-10 waves-effect waves-light" type="submit">Cambiar contraseña</button>
                        </div>
                        <div class="col-xs-12">
                            <button (click)="volverHome()" class="btn btn-warning btn-block waves-effect waves-light" type="submit">Volver al home</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>