/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width:769px) {
    body {
        font-size: 0.75rem !important;
    }
    h3 {
        font-size: 1rem !important;
    }
    label {
        font-size: 0.75rem !important;
    }
    .form-control {
        font-size: 0.75rem !important;
    }
    .btn {
        font-size: 0.75rem !important;
    }
    .typeahead {
        width: auto;
    }
}